useDynLib(SEERaBomb)
import(dplyr)  ## depends
import(LaF,RSQLite,rgl,XLConnect) ## needed less critically but for too many functions to list
importFrom(Rcpp, evalCpp)
importFrom(DBI, dbDriver)
importFrom(mgcv, gam,s,ti)
importFrom(reshape2, melt, acast)
exportPattern("^[[:alpha:]]+")
