useDynLib(SEERaBomb)
import(LaF,RSQLite,dplyr,rgl,mgcv,XLConnect)
importFrom(Rcpp, evalCpp)
importFrom(DBI, dbDriver)
importFrom(mgcv, gam,s,ti)
importFrom(reshape2, melt, acast)
exportPattern("^[[:alpha:]]+")
